.blogs {
  display: flex;
  /* flex-wrap: wrap; */
  overflow: scroll;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

}

.Card {
  background-color: rgb(135, 177, 237);
  padding: 4rem 4rem;
  margin: 40px;
  ;
  border: 50px;

  text-align: center;
  max-width: 1280px;
  border-radius: 2rem;
  color: #ea4cb0;
  scroll-snap-align: center;
}

.author {
  color: #000;
  font-weight: bold;
  font-size: 50px;

  text-decoration: wavy;


}

.title {
  text-shadow: #000;
  font-style: italic;
  text-decoration: underline;
}




#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}